*{
    text-align: center;
}
#alltable{
    margin: 50px auto;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-collapse: collapse;
}
thead{
    font-size: 24px;
    color: #1a73e8;
    text-transform: uppercase;
}

tfoot{
    font-size: 24px;
    color: #1a73e8;
    text-transform: uppercase;
}
 form {
        background: white;
        padding: 20px;
        width: 300px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        margin: auto;
    }

    label {
        font-weight: bold;
    }

    input, textarea, button {
        width: 100%;
        margin-top: 5px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button {
        background: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 10px;
    }

    button:hover {
        background: #0056b3;
    }